* {
  background-color: black;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10 px;
}

.episodes ul {
  list-style: none;
}

.episodes li {
  padding: 1ch;
}

button {
  border: 2px white solid;
  background-color: white;
  color: black;
  width: fit-content;
  margin-top: 20px;
}
